/*grøn:73B209, lys grøn:ACCF6B, rød:FF11A5, mørk blå:1979B5, lys blå:08A6FF, ekstra lys blå:E7F1F7 */
/*HTML*/
body {
	font-family: Verdana, Geneva, Arial, helvetica, sans-serif;
	font-size: 11px;
	background-color: #E7F1F7;
}
td {
	font-family: Verdana, Geneva, Arial, helvetica, sans-serif;
	font-size: 11px;
}
th {
	font-family: Verdana, Geneva, Arial, helvetica, sans-serif;
	font-size: 11px;
}
a:link {
	text-decoration: none;
	color: #1979B5;
}
a:visited {
	text-decoration: none;
	color: #1979B5;
}
a:active {
	text-decoration: none;
	color: #1979B5;
}
a:hover {
	text-decoration: none;
	color: #73B209;
}
#wrapper { 
margin : 0px auto 0 auto;
width : 794px;
background-color: #FFFFFF;
} 
#main{
	background-color: #FFFFFF;	
}
/*HEADER*/
#masthead{
	padding: 10px 0px 0px 0px;
	border-bottom: 1px solid #cccccc;
	width: 100%;
}
#logo {
	background: #FFFFFF url(images/logo.gif) no-repeat;
	
	height: 64px;
}

#headermenu {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #ffffff;
	font-style: normal;
	font-weight: bold;
}
.headermenu td{
	background-color: #1979B5;
	background-image: url(/designtest/bu/images/menu-bg2.gif);
}
.headermenu td:hover{
	background-color: #FF11A5;
	background-image: url(/designtest/bu/images/menu-bg-hover2.gif);
}
.headermenu a:link{
	text-decoration: none;
	color: #FFFFFF;
}
.headermenu a:hover{
	text-decoration: none;
	color: #37657C;
}
.headermenu a:visited{
	text-decoration: none;
	color: #FFFFFF;
}
.headermenu a:active{
	text-decoration: none;
	color: #000000;
}
/*FOOTER*/
.footer {
	font-size: 9px;
}
/*NAVIGATION*/
.navmenu {
	font-size: 12px;
	font-weight: bold;
	color: #00AB00;
}
.navmenu a:link{
	text-decoration: none;
	color: #00AB00;
}
.navmenu a:visited{
	text-decoration: none;
	color: #00AB00;
}
.navmenu a:hover{
	text-decoration: none;
	color: #1979B5;
}
.navmenu a:active{
	text-decoration: none;
	color: #00AB00;
}
/*FORMS*/
.searchbox {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	height: 15px;
	width: 150px;
}
.combobox {
	height: 20px;
	width: 155px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
}
.submitbutton {
	height: 20px;
	width: 80px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
}
/*TEXT*/
.tag1 {	color: #A63829;	font-size: 18px;}
.tag2 {	color: #5C832F;	font-size: 16px;}
.tag3 {	color: #5C832F;	font-size: 14px;}
.tag4 {	color: #5C832F;	font-size: 12px;}
.tag5 {	color: #5C832F;	font-size: 11px;}
.tag6 {	color: #5C832F;	font-size: 10px;}
.big {
	font-size: 14px;
	font-weight: bold;
	color: #FF11A5;
}
.bigblack {
	font-size: 14px;
	font-weight: bold;
	color: #000000;
}
.bigblue {
	font-size: 14px;
	font-weight: bold;
	color: #1979B5;
}
.listheader {
	font-size: 12px;
	font-weight: bold;
	color: #1979B5;
}

